@using System.Net;
@{
  
    String url=Dns.GetHostName();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <link href="https://file.myfontastic.com/rnrxngYfGsatbVtwgDLpoK/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/normalize.css">
    <script text="text/javascript" src='~/js/menu.js'></script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script text="text/javascript" src='~/js/jquery-1.8.3.min.js'></script>
    <script text="text/javascript" src='~/js/jquery.elevatezoom.js'></script>
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <title>FrontEnd Store</title>
</head>
<body>
    <header class="header">
        <a asp-action="Home" asp-controller="Home">
            <img class="header__logo" src="https://@url:8080/imagenes/logo.png"  />
        </a>
    </header>
    <nav class="navegacion">
        <div class="navegacion_vacio"></div>
        <div class="navegacion_links">
            <a class="navegacion__a navegacion__a--activo" asp-action="Home" asp-controller="Home">Tienda</a>
            <a class="navegacion__a" asp-action="Nosotros" asp-controller="Home">Nosotros</a>
        </div>
        <a class="navegacion_menu">
            <span class="icon-menu" id="btn-menu"></span>
            <div class="menu_expandible">
                <ul class="menu">
                    <li class="menu_item"><a class="menu_link select" asp-action="IniciarSesion" asp-controller="Home">Iniciar Sesión</a></li>
                    <li class="menu_item"><a class="menu_link select" asp-action="Registro" asp-controller="Home">Registrarse</a></li>
                </ul>
            </div>
        </a>
     
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="footer">
        <p class="footer__texto">FrontEnd Store - Todos los derechos Reservados 2020.</p>
    </footer>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
