@using System.Net;
@{
    ViewData["Title"] = "Home Page";


    String url=Dns.GetHostName();
}



<main class="contenedor">
    <h1>Nuestros Productos</h1>
    <div class="grid">
        <div class="producto">
            <a id="pruebaimagen" onclick="irproducto(1)">
                <img class="producto__imagen" src="https://@url:8080/imagenes/imagen1.png" alt="Spiderman">
                <div id="prueba" class="producto__informacion">
                    <p class="producto_nombre">Spiderman</p>
                    <p class="producto_precio">25$</p>
                </div>
            </a>
        </div> <!--Fin clase producto-->
        <div class="producto">
            <a onclick="irproducto(2)">
                <img class="producto__imagen" src="https://@url:8080/imagenes/imagen2.png" alt="Deadpool">
                <div class="producto__informacion">
                    <p class="producto_nombre">Deadpool</p>
                    <p class="producto_precio">25$</p>
                </div>
            </a>
        </div> <!--Fin clase producto-->
        <div class="producto">
            <a onclick="irproducto(3)">
                <img class="producto__imagen" src="https://@url:8080/imagenes/imagen3.png" alt="Joker">
                <div class="producto__informacion">
                    <p class="producto_nombre">Joker</p>
                    <p class="producto_precio">25$</p>
                </div>
            </a>
        </div> <!--Fin clase producto-->
        <div class="producto">
            <a onclick="irproducto(4)">
                <img class="producto__imagen" src="https://@url:8080/imagenes/imagen4.png" alt="Linterna Verde">
                <div class="producto__informacion">
                    <p class="producto_nombre">Linterna Verde</p>
                    <p class="producto_precio">25$</p>
                </div>
            </a>
        </div> <!--Fin clase producto-->
        <div class="producto">
            <a onclick="irproducto(5)">
                <img class="producto__imagen" src="https://@url:8080/imagenes/imagen5.png" alt="Magneto">
                <div class="producto__informacion">
                    <p class="producto_nombre">Magneto</p>
                    <p class="producto_precio">25$</p>
                </div>
            </a>
        </div> <!--Fin clase producto-->
        <div class="producto">
            <a onclick="irproducto(6)">
                <img class="producto__imagen" src="https://@url:8080/imagenes/imagen6.png" alt="Wolverine">
                <div class="producto__informacion">
                    <p class="producto_nombre">Wolverine</p>
                    <p class="producto_precio">25$</p>
                </div>
            </a>
        </div> <!--Fin clase producto-->
        <div class="producto">
            <a onclick="irproducto(7)">
                <img class="producto__imagen" src="https://@url:8080/imagenes/imagen7.png" alt="La Mole">
                <div class="producto__informacion">
                    <p class="producto_nombre">La Mole</p>
                    <p class="producto_precio">25$</p>
                </div>
            </a>
        </div> <!--Fin clase producto-->
        <div class="producto">
            <a onclick="irproducto(8)">
                <img class="producto__imagen" src="https://@url:8080/imagenes/imagen8.png" alt="Batman">
                <div class="producto__informacion">
                    <p class="producto_nombre">Batman</p>
                    <p class="producto_precio">25$</p>
                </div>
            </a>
        </div> <!--Fin clase producto-->
        <div class="producto">
            <a onclick="irproducto(9)">
                <img class="producto__imagen" src="https://@url:8080/imagenes/imagen9.png" alt="Thor">
                <div class="producto__informacion">
                    <p class="producto_nombre">Thor</p>
                    <p class="producto_precio">25$</p>
                </div>
            </a>
        </div> <!--Fin clase producto-->
        <div class="producto">
            <a onclick="irproducto(10)">
                <img class="producto__imagen" src="https://@url:8080/imagenes/imagen10.png" alt="Iron man">
                <div class="producto__informacion">
                    <p class="producto_nombre">Iron man</p>
                    <p class="producto_precio">25$</p>
                </div>
            </a>
        </div> <!--Fin clase producto-->
        <div class="producto">
            <a onclick="irproducto(11)">
                <img class="producto__imagen" src="https://@url:8080/imagenes/imagen11.png" alt="Vision">
                <div class="producto__informacion">
                    <p class="producto_nombre">Vision</p>
                    <p class="producto_precio">25$</p>
                </div>
            </a>
        </div> <!--Fin clase producto-->
        <div class="producto">
            <a onclick="irproducto(12)">
                <img class="producto__imagen" src="https://@url:8080/imagenes/imagen12.png" alt="Hellboy">
                <div class="producto__informacion">
                    <p class="producto_nombre">Hellboy</p>
                    <p class="producto_precio">25$</p>
                </div>
            </a>
        </div> <!--Fin clase producto-->
        <div class="producto">
            <a onclick="irproducto(13)">
                <img class="producto__imagen" src="https://@url:8080/imagenes/imagen13.png" alt="Coloso">
                <div class="producto__informacion">
                    <p class="producto_nombre">Coloso</p>
                    <p class="producto_precio">25$</p>
                </div>
            </a>
        </div> <!--Fin clase producto-->
        <div class="producto">
            <a onclick="irproducto(14)">
                <img class="producto__imagen" src="https://@url:8080/imagenes/imagen14.png" alt="Jhonny Blaze">
                <div class="producto__informacion">
                    <p class="producto_nombre">Jhonny Blaze</p>
                    <p class="producto_precio">25$</p>
                </div>
            </a>
        </div> <!--Fin clase producto-->
        <div class="grafico grafico--batman"></div>
        <div class="grafico grafico--avengers"></div>
    </div>
    <script text="text/javascript" src="~/js/ConsumirApi.js"></script>
</main>

