@using System.Net;
@{

    String url = Dns.GetHostName();
}

<main>
    <div class="iniciodesesion">

        <div class="logo">
            <img class="imglogo" src="https://@url:8080/imagenes/logo.png" />
        </div>

        <form class="formuariodato">
            <label for="" class="fomulario_label">Usuario:</label>
            <input type="text" class="formulario_txt" name="usuario" />
            <label for="" class="fomulario_label">Contraseña:</label>
            <input type="password" class="formulario_txt" name="contraseña" />
            <input value="Ingresar" type="submit" class="btnformulario" />
        </form>
        <div class="opciones">
            <a class="opcion">¿Olvidaste tu contraseña?</a>
            <a class="opcion" asp-action="Registro" asp-controller="Home">No tienes una cuenta, registrate.</a>
        </div>
    </div>
</main>